$dodger-blue: #1890ff;
$white: #fff;
$soft-peach: #efe3e5;
$athens-grey: #fafbfc;
$gray: #929292;
$midnight: #001529;
$header-size: 64px;

:host {
  display: flex;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.default {
  &-layout {
    height: 100vh;

    flex-direction: column;
  }
  &-top-brand {
    position: relative;

    height: $header-size;
    padding-left: 24px;
    overflow: hidden;

    background: $dodger-blue;

    line-height: $header-size;

    transition: all .3s;
    &__logo {
      display: inline-block;
      width: 32px;
      height: 32px;

      vertical-align: middle;
    }
    &__title {
      display: inline-block;
      margin: 0 0 0 20px;

      color: $white;

      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 600;
      vertical-align: middle;
    }
  }

  &-header {
    position: fixed;
    z-index: 1;

    display: flex;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    width: 100%;
    height: $header-size;
    padding: 0;

    background: $dodger-blue;
    color: $white;

    align-items: center;
  }
  &-content {
    &__header {
      display: flex;
      padding: 12px 24px;
      border-bottom: 1px solid $soft-peach;

      background-color: $athens-grey;
      color: $gray;

      flex-direction: column;
      justify-content: space-between;
      h1 {
        margin-bottom: 0;

        font-weight: 400;
      }
    }
  }
}

.my-nav {
  display: flex;

  background: transparent;

  & .ant-menu {
    &-item {
      display: flex;
      min-width: 50px;
      height: 34px;
      padding: 0 4px;
      border-radius: 4px;

      color: $white;

      align-items: center;
      justify-content: center;
      &:hover {
        background: rgba(255, 255, 255, .5);
      }

      i {
        margin: 0;
      }

      &-selected {
        color: $white;
      }
    }
  }
}

.menu-sidebar {
  position: fixed;
  z-index: 10;

  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  min-height: 100vh;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;

  font-size: 20px;

  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: $dodger-blue;
}

nz-header {
  z-index: 2;

  width: 100%;
  padding: 0;
}

nz-content {
  margin-left: 80px;
}

.inner-content {
  height: 100%;
  padding: 24px;

  background: $white;
}

.is-open {
  // When is close
  // margin-left: 80px;
  margin-left: 256px;
}
