<nz-layout class="default-layout">
  <nz-header class="default-header">
    <nz-sider
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="topSideBarBrandIsCollapsed"
      [nzTrigger]="null"
    >
      <div class="default-top-brand">
        <a href="https://ng.ant.design/" target="_blank">
          <img
            class="default-top-brand__logo"
            src="https://ng.ant.design/assets/img/logo.svg"
            alt="logo"
          />
          <h1 class="default-top-brand__title">Default Ant Design Theme</h1>
        </a>
      </div>
    </nz-sider>
    <ul nz-menu class="my-nav" nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item class="trigger" (click)="collapseSideBar()">
        <i
          nz-icon
          [nzType]="isCollapsed ? 'menu' : 'menu-fold'"
          nzTheme="outline"
        ></i>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="home" nzTheme="outline"></i>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="github" nzTheme="outline"></i>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="gitlab" nzTheme="outline"></i>
      </li>
    </ul>
    <ul
      nz-menu
      class="my-nav"
      nzTheme="dark"
      nzMode="horizontal"
      style="margin-left: auto;
    margin-right: 24px;"
    >
      <li nz-menu-item>
        <nz-badge [nzCount]="109" [nzStyle]="{ backgroundColor: '#52c41a' }">
          <i nz-icon nzType="bell" nzTheme="outline"></i>
        </nz-badge>
      </li>
      <li nz-menu-item>
        <a nz-dropdown [nzDropdownMenu]="menu">
          <nz-avatar
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          ></nz-avatar>
          Admin
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </nz-header>
  <nz-layout style="margin-top: 64px; ">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      nzTheme="light"
    >
      <ul
        nz-menu
        nzTheme="light"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome">Welcome</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Monitor</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Workplace</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="inner-content">
          <div class="default-content__header">
            <h1>Dashboard</h1>
            <h2>Welcome!</h2>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
