$header-height:64px;
$item-height:40px;
$background: #1890ff;
$color: #fff;

:host {
  position: fixed;
  z-index: 1;

  display: block;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  width: 100%;
  height: $header-height;
}
.default- {
  &header {
    display: flex;
    padding: 0 16px;

    background: $background;
    color: $color;

    align-items: center;
    &__logo {
      height: $item-height;

      overflow: hidden;

      background: red;
    }
    &__img {
      position: relative;
      left: -8px;

      width: 160px;
      height: $item-height;

      vertical-align: top;
    }
  }

  &nav {

    &-wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    border: 0;
    margin-left: 0;
    background: transparent;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    & .ant-menu-item {
      border: 0;
      border-radius: 4px;
      &:hover {
        background: rgba(255,255,255,.5);
        color: $color;
      }
      &:active {
        background: transparent;
        color: $color;
      }
      &:focus {
        background: transparent;
        color: $color;
      }
      &:visited {
        background: transparent;
        color: $color;
      }
      i {
        margin: 0;
      }
    }
    & .ant-menu-item-selected {
      background: transparent;
      color: $color;
    }
    &__text {
      background: transparent;
      color: $color !important;
    }
  }
}
@media screen and (min-width: 600px) {
  .default- {
    &nav {
      & .ant-menu-item {
        i {
          margin-right: 10px;
        }
      }
      &__text {
        display: inline-block;
      }
    }
  }
}
// nz-sider {
//   background: red;

//   line-height: initial;
//   .ant-layout-sider-children {
//     line-height: initial;
//   }
// }
