.default {
  &-layout {
    display: flex;
    min-height: 100%;

    flex-direction: column;
  }
  &__header {
    position: fixed;
    z-index: 1;

    display: flex;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
    width: 100%;
    height: 64px;
    padding: 0 16px;

    background: #1890ff;
    color: #fff;

    align-items: center;
    &-logo {
      max-height: 40px;
      overflow: hidden;

      background: #1890ff;

      vertical-align: top;
    }
    &-img {
      width: 160px;
      max-height: 40px;

      vertical-align: top;
    }
  }
  &__nav {
    height: 40px;
    border: 0;
    margin-left: 0;

    background: transparent;
    color: #fff;

    line-height: 40px;
    & .ant-menu-item {
      border: 0;
      border-radius: 4px;
      &:hover {
        background: rgba(255,255,255,.5);
        color: #fff;
      }
      &:active {
        background: transparent;
        color: #fff;
      }
      &:focus {
        background: transparent;
        color: #fff;
      }
      i {
        margin: 0;
      }
    }
    & .ant-menu-item-selected {
      background: transparent;
      color: #fff;
    }
  }

  &-content {
    width: 100%;
    margin-top: 64px;

    transition: all .2s ease;

    &--sider-opened {
      margin-left: 200px;
    }
    &--sider-closed {
      margin-left: 80px;
    }

    &__header {
      display: flex;
      padding: 12px 24px;
      border-bottom: 1px solid #efe3e5;

      background-color: #fafbfc;
      color: #929292;

      flex-direction: column;
      justify-content: space-between;
      h1 {
        margin-bottom: 0;

        font-weight: 400;
      }
    }
  }
  &-sider {
    position: fixed;

    height: 100%;
    margin-top: 64px;

    background: #fff;
  }
}

.main {
  padding: 20px;
}
