<nz-layout class="default-layout">
  <nz-header class="default__header">
    <nz-sider
      class="default__header-logo"
      [(nzCollapsed)]="isCollapsed"
      nzCollapsedWidth="64"
      nzWidth="200px"
      nzCollapsible
      [nzTrigger]="null"
    >
      <img class="default__header-img" src="./assets/logo-full.svg" alt="" />
    </nz-sider>
    <ul class="default__nav" nz-menu nzTheme="light" nzMode="horizontal">
      <li
        class="default__nav-item"
        nz-menu-item
        class="trigger"
        (click)="isCollapsed = !isCollapsed"
      >
        <i nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </li>
      <!-- <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li> -->
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider
      class="default-sider"
      [(nzCollapsed)]="isCollapsed"
      nzCollapsedWidth="80"
      nzWidth="200px"
      nzCollapsible
      [nzTrigger]="null"
    >
      <div class="default__avatar">
        <nz-avatar
          nzIcon="user"
          nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        ></nz-avatar>
        <p><strong>Samuel</strong></p>
        <p>samuel@gmail.com</p>
      </div>
      <ul
        nz-menu
        nzTheme="light"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li nz-submenu>
          <span title
            ><i nz-icon type="user"></i><span class="nav-text">User</span></span
          >
          <ul>
            <li nz-menu-item>Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title
            ><i nz-icon type="team"></i><span class="nav-text">Team</span></span
          >
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-menu-item>
          <span
            ><i nz-icon type="file"></i><span class="nav-text">File</span></span
          >
        </li>
      </ul>
    </nz-sider>
    <nz-content
      [className]="
        isCollapsed
          ? 'default-content default-content--sider-closed'
          : 'default-content default-content--sider-opened'
      "
    >
      <div class="default-content__header">
        <h1>Dashboard</h1>
        <h2>Welcome!</h2>
      </div>
      <main class="main">
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="4">Nombre</nz-form-label>
            <nz-form-control
              [nzSpan]="14"
              nzErrorTip="Please input your username!"
            >
              <input
                nz-input
                formControlName="fieldA"
                placeholder="input placeholder"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="4">Descripción</nz-form-label>
            <nz-form-control
              [nzSpan]="14"
              nzErrorTip="Please input your Password!"
            >
              <textarea
                nz-input
                formControlName="filedB"
                placeholder="input placeholder"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSpan]="14" [nzOffset]="4">
              <button nz-button nzType="primary">Submit</button>
            </nz-form-control>
          </nz-form-item>
        </form>
        <nz-table #nzTable [nzData]="listOfData">
          <thead>
            <tr>
              <th nzShowExpand></th>
              <th>Name</th>
              <th>Age</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
              <tr>
                <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
              </tr>
              <tr [nzExpand]="mapOfExpandData[data.id]">
                <td></td>
                <td colspan="3">{{ data.description }}</td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
        <button nz-button nzType="primary" (click)="open()">Create</button>
        <nz-drawer
          [nzBodyStyle]="{
            height: 'calc(100% - 55px)',
            overflow: 'auto',
            'padding-bottom': '53px'
          }"
          [nzMaskClosable]="false"
          [nzWidth]="720"
          [nzVisible]="visible"
          nzTitle="Create"
          (nzOnClose)="close()"
        >
          <form nz-form>
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Name</nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="please enter user name" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Url</nz-form-label>
                  <nz-form-control>
                    <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
                      <input
                        type="text"
                        nz-input
                        placeholder="please enter url"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Owner</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      nzPlaceHolder="Please select an owner"
                    ></nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Type</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      nzPlaceHolder="Please choose the type"
                    ></nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Approver</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      nzPlaceHolder="Please choose the approver"
                    ></nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>DateTime</nz-form-label>
                  <nz-form-control>
                    <nz-range-picker></nz-range-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>Description</nz-form-label>
                  <nz-form-control>
                    <textarea
                      nz-input
                      placeholder="please enter url description"
                      [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                    ></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
          <div class="footer">
            <button
              type="button"
              (click)="close()"
              class="ant-btn"
              style="margin-right: 8px;"
            >
              <span>Cancel</span>
            </button>
            <button
              type="button"
              (click)="close()"
              class="ant-btn ant-btn-primary"
            >
              <span>Submit</span>
            </button>
          </div>
        </nz-drawer>
      </main>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <nz-footer>Footer</nz-footer>
    </nz-content>
  </nz-layout>
</nz-layout>
