.default {
  &-layout {
    display: flex;
    min-height: 100%;

    flex-direction: column;
  }
  &-header {
    // position: fixed;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
    width: 100%;
    height: 64px;
    padding: 0 16px;

    background: #1890ff;
    color: #fff;
  }
  &-logo {
    float: left;

    overflow: hidden;

    background: #1890ff;
  }
  &-content {
    width: 100%;
    // margin-top: 64px;
    // margin-left: 200px;
  }
  &-sider {
    // position: fixed;
    // height: 100%;
    // margin-top: 64px;
    background: #fff;
  }
}
