<div *ngIf="isHttpLoading; else elseBlock">
  <app-loader></app-loader>
</div>
<nz-alert *ngIf="hasHttpError" nzBanner nzType="error" nzMessage="Ocurrrio un error de conexión"></nz-alert>

<ng-template #elseBlock>
  <nz-page-header
    style="margin-left: -24px;margin-right: -24px;margin-top: -24px;margin-bottom: 24px;border-bottom: 1px solid #efe3e5;">
    <nz-page-header-title>
      <h2 nz-title>Proyectos</h2>
    </nz-page-header-title>
    <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
  </nz-page-header>
  <!-- <h1 nz-title>Proyectos</h1> -->
  <button nz-button [nzSize]="size" nzType="primary" (click)="open()">
    <i nz-icon nzType="plus-circle" nzTheme="twotone"></i>
    Nuevo proyecto
  </button>
  <div *ngFor="let project of projects">
    <nz-card nzHoverable [nzTitle]="cardTitle" style="margin-top:20px"
      [nzActions]="[actionDelete, actionEdit, actionEllipsis]">
      <p>{{project.description}}</p>
    </nz-card>
    <ng-template #cardTitle>
      <a>{{project.title}}</a>
    </ng-template>
    <ng-template #actionDelete>
      <button #btnDelete nz-button nzType="primary" nz-popconfirm nzPlacement="rightTop" nzIcon="question-circle-o"
        nzTitle="¿Esta seguro de eliminar el siguiente proyecto?" nzOkText="Si, continuar" nzCancelText="No, cancelar"
        (nzOnConfirm)="onDeleteProject(project, btnDelete)" (nzOnCancel)="cancel(btnDelete)">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </button>
    </ng-template>
    <ng-template #actionEdit>
      <button nz-button nzType="primary" (click)="demoClick(project, $event)">
        <i nz-icon nzType="edit"></i>
      </button>
    </ng-template>
    <ng-template #actionEllipsis>
      <i nz-icon nzType="ellipsis"></i>
    </ng-template>
  </div>
</ng-template>

<!-- [nzWidth]="50%" -->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="Crear proyecto" (nzOnClose)="close()">
  <form nz-form [formGroup]="frmProject" (ngSubmit)="submitForm($event)">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Titulo</nz-form-label>
          <nz-form-control nzErrorTip="¡Por favor, ingrese un titulo valido!">
            <input nz-input placeholder="Ingrese un titulo para el proyecto" formControlName="title" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Slug</nz-form-label>
          <nz-form-control nzErrorTip="¡Por favor, ingrese un slug valido!">
            <input nz-input placeholder="Ingrese un slug para el proyecto" formControlName="slug" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select an user"
      [(ngModel)]="selectedValue">
      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Descripción</nz-form-label>
          <nz-form-control nzErrorTip="¡Por favor, ingrese una descripción valida!">
            <textarea nz-input placeholder="Ingrese una descripción para el proyecto"
              [nzAutosize]="{ minRows: 4, maxRows: 4 }" formControlName="description"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="footer">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancelar</span></button>
      <button nz-button type="submit" class="ant-btn ant-btn-primary"><span>Crear</span></button>
    </div>
  </form>
</nz-drawer>
